###Project files###

###Project files###
#Ignore all
/*
# Except
!hybris
hybris/*
!hybris/config
!hybris/bin
hybris/bin/*
!hybris/bin/custom

## Except
#build-tools/*
#c4c-integration/*
#hybris-Mobile-Apps-SDK/*
#hybris-ems/*
#hybris-sbg/*

#installer/*
#licenses/*