###Project files###

# testclasses summary
*-testclasses.xml
*-webtestclasses.xml
extensioninfo.xsd
build.xml
platformhome.properties
bin/**/gensrc/*

#Ignore jalo class
#bin/custom/training/trainingcore/**/jalo/*

*.class

###Project files###
#Ignore all
/*
# Except
!hybris
hybris/*
!hybris/config
!hybris/bin
hybris/bin/*
!hybris/bin/custom

